* {
  margin: 0;
}

input {
  margin-top: 20px;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.phone {
  width: 428px;
  height: 65vh;
  border-radius: 20px;
  background-color: rgb(32, 32, 32);
  display: flex;
}

.buttons {
  margin-top: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-button,
.right-button,
.play-button {
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.left-button,
.right-button {
  width: 58px;
  height: 58px;
  border: 2px solid #1db954;
}

.play-button {
  width: 92px;
  height: 92px;
  left: 168px;
  top: 428px;
  background: #1db954;
}

.left-button {
  left: 60px;
  top: 446px;
}

.right-button {
  left: 310px;
  top: 446px;
}

img {
  position: relative;
  width: 24px;
  height: 24px;
}

.play-button > img {
  width: 40px;
  height: 40px;
}

.preview {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  background: url("assets/placeholder.png");
  justify-content: center;
}

.stats {
  color: #FFFF;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Tahoma';
}

.stats .title {  
  font-weight: 700;
}

.stats .artist {
  font-size: 1.0rem;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}